.side{
          background-color:red;
		  height:10%;
		  width:100%;
}
.content{
          
		  height:400px;
		  width:1600px;
		  clear:both;
}		  
.sub1{
	float:left;
	width:400px;
	height:400px;
background-color:blue;

}

.sub2 {
	float:left;
	width:800px;
	height:400px;
	background-color:green;

}
.sub3{
	       width:1600;
		   height:100px;
		   background-color:yellow;
}
.dashed{
	       border-style:dashed;
}
